<!DOCTYPE html>
<html>
<head>
  <title>Your Rails Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Your other CSS files -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<%= yield %>

<!-- Bootstrap JavaScript Bundle (Bootstrap JS + Popper JS) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- Your other JavaScript files -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
